.btn {
  max-width: 110px;
  width: 100%;
  min-height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.primary-btn {
  background-color: var(--primary-btn);
  color: var(--white-text);
  margin-right: 16px;
}

.edit-btn {
  background-color: white;
  color: var(--main-text);
  outline: 1px solid var(--outline-color);
  
}

.add-task-btn {
  color: black;
  background-color: var(--add-task-btn);
}

