
.aside {
    background-color: var(--aside-color);
}

.logo {
    margin-top: 32px;
    margin-left: 32px;
}

.list-variants {
    display: flex;
}

.task-section {
    width: 100%;
    height: 100vh;
    border-radius: 16px;
    background-color: var( --task-section-bg);
}